/* Tooltip container */
        a:hover{
        cursor: pointer;
        }

	/* padding-left for header columns except deck-column */
	th.count {
        padding-left:10px;
        cursor: pointer;
        text-align: center !important; /* Centraliza o texto do cabeçalho */
	}

        .openDeck .number_cell {
            visibility: hidden;
        }

    .progress:hover {
        overflow: visible !important
    }